@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300&display=swap');

@import url("https://fonts.googleapis.com/css?family=Londrina+Outline&display=swap");

/* Universal */
body {
  background-image: url(/imgs/Background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flexbox;
  font-family: Roboto;
  font-size: 24px;
}
.logoContainer img {
  height: 90px;
}
.clearBackground {
  background: #E5E5E5;
  mix-blend-mode: normal;
  opacity: 0.4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  z-index: -1;
}
button {
  font-family: Roboto;
  font-size: 24px;
  background: #F0F0F0;
  border-radius: 4px;
  width: 190px;
  height: 39px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 5;
}

.inputText {
  width: 50%;
  height: 41px;
  background: #E5E5E5;
  box-shadow: inset 0px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

::-webkit-input-placeholder {
  font-family: Roboto;
  font-weight: lighter;
  font-style: italic;
  font-size: 18px;
  padding-left: 5px;
}


/* Front Page */
.categorySquare img {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
}
.homeQuoteContainer {
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
}
.featuredMentorContainer {
  position: absolute;
  width: 238px;
  height: 282px;
  /* left: 163px; */
  /* top: 85px; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.userPhotoFeatured {
  /* position: absolute; */
  width: 238px;
  height: 280.94px;
  /* left: calc(50% - 238px/2 + 75px); */
  bottom: 303.06px;
  background: url(/imgs/userPhotos/bradley.jpg);
  border-radius: 4px;
}

/* User Profile */
.profileRow1 {

}
.userPhotoProfile {
  position: absolute;
  width: 140px;
  height: 130px;
  left: calc(50% - 140px/2 - 129px);
  top: 79px;

  /* background: url(photo-1551861568-c0afa6653bc1.jpg), url(photo-1551861568-c0afa6653bc1.jpg); */
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.userBio {
  position: absolute;
  width: 253px;
  height: 170px;
  /* left: calc(50% - 253px/2 + 73.5px); */
  /* top: 79px; */
  background: #F0F0F0;
  border-radius: 4px;
}

/* top bar */
.notificationDot:before {
  content: ' \25CF';
  font-size: 30px;
  left: -20em;
  color: #FF8C5B;
}

button, .homeButton{
  display: flexbox;
  height: 39px;
  width: 44px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.searchBarContainer {
  display: flexbox;
  padding: 8px;
  padding-bottom: 2px;
  background: #ffffff;
}

.navDrawer {
  background: #ffffff;
  width: 414px;
  height: 340px;
}